# package caches
/node_modules
/vendor

# built assets
/public/css/
/public/fonts/
/public/hot
/public/js/
/public/mix-manifest.json
/public/storage

# misc files
.env
.env.*
!.env.example
.phpunit.result.cache
/storage/*.key
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
